{% extends 'main-admin.twig' %}

{% block main %}

<h1>Welcome to Admin on Niuware Web Framework!</h1>
<p>
    If you can see this homepage, you can start coding your new web app :)
</p>

{% endblock %}