<!DOCTYPE html>
<html>
    <head>
        <base href="{{ constant('Niuware\\WebFramework\\BASE_URL') }}public/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block metas %}{% endblock %}
        
        <title>{{ constant('Niuware\\WebFramework\\DEFAULT_TITLE') }} {% if title is defined %}{{ title }}{% endif %}</title>
        
        <link rel="stylesheet" href="styles/default/main.css">
        {% block stylesheets %}{% endblock %}
        
        {% block scripts %}{% endblock %}
    </head>
    <body>
        
        {% block main %}
        {% endblock %}
        
    </body>
</html>
